{% extends "layout.html" %}
{% block content %}                                   <!--To access the pagination object we have to do posts.items.-->
    {% for post in posts.items %}                           <!--Posts are stored as list-->
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/'+post.author.image_file) }}" >
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('user_posts', username = post.author.username) }}">{{ post.author.username }}</a>                             <!--Accessing the username of the current_user via backref.-->
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>                                                                   <!--To display only date of posting.-->
            </div>
            <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}                                                                                                                                            <!--To reduce the number of links at the bottom of our page.-->
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}                                                      <!--This will print all the page numbers.-->
        {% if page_num %}
          {% if posts.page == page_num %}                                                                                                                   <!-- Post.page is an method that return the page number we are currently on. -->
            <a class="btn btn-info mb-4" href="{{ url_for('home', page=page_num) }}"> {{ page_num }} </a>
          {% else %}
            <a class="btn btn-outline-info mb-4" href="{{ url_for('home', page=page_num) }}"> {{ page_num }} </a>
          {% endif %}
        {% else %}
          
        {% endif %}
    {% endfor %}
{% endblock content %}